<div class="wiki">

  <h2>You have successfully installed the Redmine GitHub Hook Plugin.</h2>

  <p>
    This page is just a confirmation that you have successfully installed the plugin.
    Follow the rest of the installation:
    <a href="https://github.com/koppen/redmine_github_hook" class="external">
      Redmine GitHub Hook Plugin on GitHub
    </a>
  </p>

</div>
